/********** Fixes **********/

* {
  margin:0;
  padding:0;
  border:0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  line-height: 0;
}

.clear {
  clear: both;
}

/* Positioning Classes */

.shadow
{
  width: 100%;
}
#Featured
{
  width: 32.3%;
  height: 100%;
  float: left; 
  margin-right: 1.03%;
  margin-bottom: 20px;
 
}
.middle 
{
  width: 66%;
  height: 100%;
  float: left;
  margin-bottom: 20px;
  
  
}
#Archive
{
  margin-bottom: 20px;
  float: left;
  height: 100%;
  width: 32%;
  margin-left: 1%;
  margin-right: 1%;
}

.border_right
{
 text-align: justify;
 display: inline-block;
 margin-left: 6%;
 margin-right: 6%;
}
